* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

.n-tabs-nav-scroll-content {
    background-color: #1b1e23 !important;
}

.n-tabs-tab {
    background: #1b1e23 !important;
}

.n-tabs-tab--active {
    background: #21252b !important;
    border-bottom: none;
}

.n-tabs-bar {
    background: none !important;
}

.n-tabs-tab__label {
    color: #808890;
}

.n-tabs-tab--active .n-tabs-tab__label {
    color: #d7d8d9;
}

.n-tabs-tab-pad {
    --n-tab-gap: 2px;
    background: #21252b;
}

.n-tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.n-tab-pane {
    padding: 0 !important;
    position: absolute !important;
    top: 33px !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

.n-data-table-th {
    background: #21252b !important;
}

.n-data-table-td {
    padding: 0 !important;
}

.n-base-selection-label {
    background: #21252b !important;
    border: #333842 solid 1px !important;
}

.n-base-selection__state-border {
    box-shadow: none !important;
    border: #333842 solid 1px !important;
}

.n-input-wrapper {
    background: #21252b !important;
}

.n-input__state-border {
    box-shadow: none !important;
    border: none !important;
    border: #333842 solid 1px !important;
}

.n-spin-container,
.n-spin-container .n-spin-content {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}

body {
    background-color: #333842;
    width: 100vw;
    height: 100vh;
}

#app {
    width: 100vw;
    height: 100vh;
}

/* 禁止复制 */
.nocopy {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
    margin: 0;
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}